<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MenueAppController</servlet-name>
        <servlet-class>Controllers.MenueAppController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperationController</servlet-name>
        <servlet-class>Controllers.OperationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Controllers.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservation</servlet-name>
        <servlet-class>Controllers.reservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenueAppController</servlet-name>
        <url-pattern>/menueAppController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperationController</servlet-name>
        <url-pattern>/operationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservation</servlet-name>
        <url-pattern>/reservation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
